/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: inherit;
  height: inherit;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

.flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: #6d6f71;
}

.img {
  width: 100%;
  height: 100%;
}

header {
  height: 500px;
}

h1 {
  font-size: 3.5rem;
  font-family: "Anton";
  color: #fcb731;
}

h3 {
  font-size: 2rem;
  font-family: "Anton";
  color: #fcb731;
}

.inner {
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: 'Lato';
  text-transform: uppercase;
}

.inner .pictos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.inner .coop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #c3a575;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner .insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #b3d143;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner .soleil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fcb731;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner .capital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00afec;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner span {
  text-align: center;
}

.texteLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: none;
}

.texteLi .contain {
  background-image: url("./Photos/worn_dots.png");
}

.texteLi div {
  width: 50%;
}

.texteLi div h3 {
  color: #6d6f71;
  font-size: 2.4rem;
  font-family: 'Lato';
  text-align: end;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color: #6d6f71;
  color: white;
  margin: 30px;
  border: none;
}

button:hover {
  background-color: #d4d4d4;
  color: #6d6f71;
}

button h4 {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */